@import "./Variables/Variables.scss";

.about-bg {
    min-height: 40vh;
    max-width: 100vw;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
}

.about-text {
    color: white;
    font-size: 1.2em;
    font-family: $para-font;
}

.about-row {
    max-width: 100%;
}

.text-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 4em;
}

.img-col {
    height: 15em;
}

.astronaut {
    background-image: url("../assets/spaceship.svg"), url("../assets/astronaut.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top, right bottom;
    // width: 100%;
    height: 15em;
    transform: rotate(20deg);
}

@media only screen and (max-width: 1000px) {
    .astronaut {
        height: 12em;
        background-position: left, right bottom;
    }
    
    .img-col {
        height: 35em;
    }
}

@media only screen and (max-width: 760px) {
    .astronaut {
        // height: 9em;
        transform: rotate(-10deg);
    }
}