@import "./Variables/Variables.scss";

.about-bg {
    min-height: 40vh;
    max-width: 100vw;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    color: white;
    font-size: 1.2em;
    font-family: $para-font;
}

.about-row {
    max-width: 100%;
}

.text-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 4em;
}

.img-col {
    position: relative;
}

.astronaut {
    position: absolute;
    height: 6em;
    transform: rotate(-20deg);
    bottom: 0.5em;
    right: 2em;
}

.spaceship {
    position: absolute;
    height: 6em;
    transform: rotate(50deg);
    left: 2em;
}

@media only screen and (min-width: 768px) {
    .astronaut {
        height: 14em;
        transform: rotate(40deg);
        top: 10em;
    }
    .spaceship {
        height: 14em;
    }
}

@media only screen and (min-width: 1200px) {
    .astronaut {
        height: 16em;
    }

    .spaceship {
        height: 16em;
        transform: rotate(20deg);
        top: -3em;
    }
    
}

