@import "./Variables/Variables.scss";

a {
    color: white;
}

a:hover {
    color: $night;
}

.faq-bg {
    min-height: 200vh;
    background-image: url("../assets/FAQTopBG2.svg"), url("../assets/FAQBottomBG2.svg"), linear-gradient(to right, $night 50%, $blue 50% 100%);
    // background-color: $blue;
    background-position: left top, bottom, 40% 40%;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-family: $title-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-box {
    // display: none;
    color: white;
    max-width: 90vw;
    // min-height: 100vh;
    border: 5px solid white;
    border-radius: 20px;
    background-color: $light-purp;
}

.faq-title {
    font-size: 2.5em;
    margin-top: .5em
}

hr {
    border-top: 5px solid white;
}

.faqs {
    width: 100%;
    margin: auto;
}

#faq-dropdown {
    background-color: $light-purp;
    border: none;
    display: flex;
    align-items: center;
    justify-content: between;
    white-space: normal;
    text-align: start;
    width: 100%;
    margin: .8em 0;
}

.faq-ques {
    font-size: 1em;
    margin: auto;
    width: 100%
}

.faq-card {
    width: 100%;
    padding: .7em
}

.faq-ans {
    font-size: 0.7em;
    margin: auto;
}