@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.getinv-bg {
  background-image: url("../assets/GetInvTBorder.svg"), url("../assets/GetInvBBorder.svg");
  max-width: 100vw;
  min-height: 90vh;
  background-color: #000B54;
  background-repeat: no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.getinv-title {
  color: #FEED00;
  font-family: "Days One", sans-serif;
  margin-top: 1em;
}

.inv-links {
  width: 90%;
  min-height: 15vh;
  margin-top: 1em;
  margin-bottom: 1em;
}

.link {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .4em 0;
}

.link.n {
  background-image: url("../assets/neptune.png");
}

.link.j {
  background-image: url("../assets/jupiter.png");
}

.link.u {
  background-image: url("../assets/uranus.png");
}

.link-text {
  color: white;
  font-family: "Days One", sans-serif;
  font-size: 1em;
  background-color: #00B587;
  opacity: 1;
  width: 10em;
  padding: .2em .3em;
  border-radius: 30px;
  z-index: 100;
  text-decoration: none;
}

.link-text:hover {
  color: white;
  cursor: pointer;
  opacity: .8;
}

@media only screen and (min-width: 768px) {
  .link {
    height: 9em;
  }
  .link-text {
    width: 11em;
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1200px) {
  .link {
    height: 11em;
  }
  .link-text {
    width: 12em;
    font-size: 1.6em;
  }
}
/*# sourceMappingURL=GetInvolved.css.map */