@import "./Variables/Variables.scss";

.land-bg {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    background-image: url("../assets/LandBBorder.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.title {
    color: white;
}

.subtitle {
    color: white;
}