@import "./Variables/Variables.scss";

.tba-bg {
    // background-image: url("../assets/texture.png");
    background-position: center;
    background-color: $night;
    max-width: 100vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tba-astro2 {
    display: none;
}

.tba-title {
    color: $neon-yellow;
    font-family: $title-font;
    font-size: 3em;
}


.tba-subtitle {
    color: white;
    font-family: $para-font;
}

.tba-follow {
    color: white;
    font-family: $title-font;
    font-size: 1em;
    background-color: $green;
    width: 20em;
    padding: .3em .4em;
    margin-top: 1em;
    border-radius: 30px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .tba-title {
        font-size: 4em;
    }
    
    .tba-follow {
        font-size: 1.7em;
    }

    .tba-astro2{
        display: block;
        position: absolute;
        height: 6em;
        right: 3em;
        // z-index: ;
        // animation: astro2 3s linear 1s infinite running slidein; FIX PLS
    }
}

@media only screen and (min-width: 1200px) {
    .tba-title {
        font-size: 5em;
    }
    
    .tba-follow {
        font-size: 1.9em;
    }
}

