@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$night: #000B54;
$blue: #441AE7;
$light-purp: #7F70CD;
$neon-yellow: #FEED00;
$green: #00B587;
$light-green: #86ffe1;
$red: #d83a65;

$title-font: 'Days One', sans-serif;
$para-font: 'Montserrat', sans-serif;